{% extends "base.html" %}
{% block page_title %}Cambiar contraseña{% endblock %}
{% block content %}
<div class="card" style="max-width:480px">
  <form method="post" novalidate>
    {{ form.hidden_tag() }}
    {% for field in [form.current_password, form.new_password, form.confirm_password] %}
      <div class="form-group">
        {{ field.label }}
        {{ field(class_="form-control") }}
        {% for e in field.errors %}<div class="form-errors">{{ e }}</div>{% endfor %}
      </div>
    {% endfor %}
    {{ form.submit(class_="btn") }}
  </form>
</div>
{% endblock %}
